/.emacs.d/el-get
/.emacs.d/auto-save-list
/.emacs.d/ac-comphist.dat
/.emacs.d/places
/.emacs.d/eshell
/.emacs.d/elpa
/.emacs.d/recentf
/.emacs.d/ensime
/.vim/bundle/*
!/.vim/bundle/neobundle.vim
/.vim/.netrwhist
