[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".zsh/custom_plugins/auto-fu/auto-fu.zsh.git"]
	path = .zsh/custom_plugins/auto-fu/auto-fu.zsh.git
	url = git@github.com:hchbaw/auto-fu.zsh.git
