[user]
  name = hakobe
  email = hakobe@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[core]
  excludesfile = /Users/yohei/.global_gitignore
[push]
  default = current
[branch]
  autosetuprebase = always
[alias]
  st = status
  ci = commit -v
  br = branch
  co = checkout
  df = diff
  lg  = log --decorate --abbrev-commit
  lgg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
  lgr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'
  lgp = log --decorate --abbrev-commit -p
  x  = !open -a GitX .
  a  = add
  d  = diff
  dc = diff --cached
  f  = fetch
  sup = submodule update --init
  sa = stash apply
  o = browse-remote --pr
[include]
  path=~/.gitconfig.local
[ghq]
  root = ~/working
  root = ~/local/go
[browse-remote "github.com"]
	top = https://{host}/{path}
	ref = https://{host}/{path}/tree/{short_ref}
	rev = https://{host}/{path}/commit/{commit}
	pr = https://{host}/{path}/pull/{short_ref}
	file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"
